<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>History</title>
</head>

<div th:insert="header :: header"></div>

<body>

<div class="container">
    <div class="row">
        <div class="col-2">
            <!--            1 of 3-->
        </div>
        <div class="col-8">
            <table id="tableHistory" class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Валюта №1</th>
                    <th scope="col">-></th>
                    <th scope="col">Валюта №2</th>
                    <th scope="col">Дата конвертации</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="his : ${history}">
                    <td th:text="${his.getCurrencyOne().getName()}"></td>
                    <td th:text="'>'"></td>
                    <td th:text="${his.getCurrencyTwo().getName()}"></td>
                    <td th:text="${his.getDate()}"></td>
                </tbody>
            </table>
            <div th:if="${history == null}">
                <p>База данных пустая</p>
            </div>

            <div class="col-2">
                <!--            3 of 3-->
            </div>
        </div>
    </div>
</div>
<div th:insert="footer :: footer"></div>

</body>
</html>