<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script type="text/javascript" src="static/js/scripts.js"></script>
    <title>Money converter</title>
</head>

<div th:insert="header :: header"></div>

<body>

<div class="container">
    <div class="row">
        <div class="col-1">
            <!--            1 of 3-->
        </div>
        <div class="col-10">
            <div th:if="${currencies != null}">

                <form id="formCurrency1">
                    <div class="d-flex justify-content-center mb-1 mt-1">

                        <div class="input-group mr-2 pr-2">
                            <div class="input-group-prepend">
                                <select class="custom-select" id="inputGroupSelect01" oninput="eventChange1()">
                                    <option selected>Choose...</option>
                                    <option th:each="curr : ${currencies}" th:value="${curr.getCharCode()}"
                                            th:data-rate="${curr.getRate()}"
                                            th:text="${curr.getName()}"
                                            class="dropdown-item"></option>
                                </select>
                            </div>
                            <input type="text" name="charCode" id="currency1Name" class="form-control"
                                   readonly="readonly">
                            <input type="text" name="rate" id="currency1Rate" class="form-control" readonly="readonly">
                        </div>
                    </div>
                </form>

                <div class="input-group mb-3">
                    <input id="sumOne" type="number" class="form-control" aria-label="Default" onchange="sandData()"
                           aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="d-flex justify-content-center mb-1 mt-1">

                    <button type="button" onclick="revers()" class="btn btn-primary mr-2 pr-2 ml-2 pl-2">
                        Поменять
                    </button>
                </div>
                <div class="d-flex justify-content-center mb-1 mt-1">

                    <button id="test" type="button" onclick="sandData()" class="btn btn-primary mr-2 pr-2 ml-2 pl-2">
                        Конвертировать
                    </button>
                </div>
                <form id="formCurrency2">
                    <div class="d-flex justify-content-center mb-1 mt-1">

                        <div class="input-group ml-2 pl-2">
                            <div class="input-group-append">
                                <select class="custom-select" id="inputGroupSelect02" oninput="eventChange2()">
                                    <option selected>Choose...</option>
                                    <option th:each="curr : ${currencies}" th:value="${curr.getCharCode()}"
                                            th:data-rate="${curr.getRate()}"
                                            th:text="${curr.getName()}" class="dropdown-item"></option>
                                </select>
                            </div>
                            <input type="text" name="charCode" id="currency2Name" class="form-control"
                                   readonly="readonly">
                            <input type="text" name="rate" id="currency2Rate" class="form-control" readonly="readonly">
                        </div>
                    </div>
                </form>
                <div class="input-group mb-3">
                    <input id="sumTwo" type="number" class="form-control" aria-label="Default" onkeyup="sandData()"
                           aria-describedby="inputGroup-sizing-default">
                </div>
            </div>
        </div>
        <div th:if="${currencies == null}">
            <p>База данных пустая</p>
        </div>

        <div class="col-1">
            <!--            3 of 3-->
        </div>
    </div>
</div>

<div th:insert="footer :: footer"></div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>